.half-weith{
    width: 50%;
    
}
body{
    
    color: black;
    font-family: 'Poppins', sans-serif;
}
.flexibol{
    display: flex;
    margin-bottom: 100px;
   
}
.half-weith-images{
    width: 2%;
    padding-right: 50px;
    padding-bottom: 200px;
    

}
#stay{
    color: black;
}

.stay-border{
    border-left:2px solid ;
    color: red;
    padding-right: 50px ;
    padding-left: 3px;
    font-size: 50px;
    margin-right: 30px;
    font-family: 'Source Serif Pro', serif;

}

span{
    color: orange;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(rgb(250, 87, 87),rgb(231, 74, 74)) ;
    border-radius: 5px;
    padding: 6px 10px;
    color: white;
   

}
#scroll-p{
    font-size: 13px;
    margin-top: 50px;
}

.My-mission-image{
    width: 80%;
    padding-left: 20%;
    margin-right: 5%;
}
#my-mission{
    text-align: center;
    font-size: 30px;
}
.mission{
    background: rgb(227, 235, 241);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
   
}
.vission{
    background: rgb(236, 217, 236);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.goals{
    background: rgb(236, 235, 217);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#section3-bg{
    background-image: url(images/shapes/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}
.develop-area{
    margin : 3% 5%;
    padding: 10px 5px;

}
#section4-bg{
    background-image: url(images/shapes/shape-1.png);
    background-position:right;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-bottom: 60%;
}
.section4-img{
    width: 80%;
    margin-right: 5%;
    padding-right: 20%;
}
.section4-div{
    padding: 10px 5px;  
}
.end-button{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
   
    
}
footer p{
    font-size: 15px;
}
#button-2022{
    color: red;
}
#end-h1{
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
}